:root{
  --Color1: #0D0D0D;
  --Color2: #8C8C8C;
  --Color3: #D9D9D9;
  --Color4: #F2F2F2;
  --Color5: #1F2226;

  /* color style */
  --Yellow1: #F2E416;
  --Yellow2: #F2CE16;
  --Yellow3: #403814;
  --Yellow4: #F2BB16;
}
*{
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    list-style-type: none;
    text-decoration: none;
    color: #F2F2F2;
    font-family: 'Roboto';
}
a{
  list-style-type: none;
  text-decoration: none;
}
.achonk{
  width: 100%;
}
.grid-containers{
  padding: 5px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  grid-template-areas: "nav nav nav nav"
                       "aside content main main" 
                       "aside content3 main main"
                       "aside content3 content2 content2"
                       "aside footer footer footer";
  color: #F2F2F2;
}

nav{
  grid-area: nav;
}

aside{
  grid-area: aside;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
}

main{
  grid-area: main;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
}

#content{
  grid-area: content;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
}
#content2{
  grid-area: content2;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
}
#content3{
  grid-area: content3;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
}

footer{
  grid-area: footer;
  border: 1px solid #969696;
  background-image: linear-gradient(to bottom right, #212429, #000000);
  
}
/* end */

.aside-container{
  margin: 0 20px;
}
aside{
  display: inline-block;
}
.title-section{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.title-personal{
  padding-top: 20px;
}
.title-personal h2{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--Yellow4);
}
.title-personal h4{
  font-size: 18px;
  background-color: var(--Yellow3);
  padding: 5px 5px;
  width: fit-content;
  border-left: 10px solid var(--Yellow4);
  border-right: 10px solid var(--Yellow4);
}
.title-personal p{
  font-size: 11pt;
  text-justify: auto;
}
.personal-container{
  display: flex;
  align-self: center;
  padding: 5px 0;
  gap: 10px;
}
.general-skills{
  display: block;
}
.item{
  background-image: linear-gradient(to bottom right, #F2e416, #f2bb16 );
  border: 1px solid var(--Yellow1);
  display: inline-block;
  padding: 0px 5px;
  margin: 3px 1px;
  border-radius: 5px;
  color: var(--Color1);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.item:hover{
  background-image: linear-gradient(to bottom left, #4C1161, #891FAD );
  border: 1px solid #891FAD;
  color: var(--Color4);
}
.personal-body {
  padding-bottom: 20px;
}
/* main */
.main-container{
  margin: 20px 20px;
}

.content-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.content-body{
  padding: 10px 10px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.content-body >img{
  max-width: 30px;
  min-width: 30px;
}
.something{
  background-color: red;
  color: whitesmoke;
  font-weight: bold;
  width: max-content;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 7pt;
}
.industry{
  font-size: 8pt;
  background-color: var(--Color5);
  border-radius: 5px;
  padding: 2px 6px;
  color: var(--Yellow4);
}
.staff-title{
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #F2e416, #f2bb16 );
  border-radius: 5px;
  color: var(--Color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "roboto", "bold";
}
.staff-title:hover{
  background-image: linear-gradient(to bottom left, #4C1161, #891FAD );
  color: var(--Color4);
}
.office-location{
  padding: 10px;
}
.staff-calender{
  display: flex;
  align-content: center;
  gap: 10px;
  padding-left: 20px;
}
.content-title{
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 20px 20px;
}

/* main */

/* start content */
.skills{
  margin: 20px 20px;
}
.skills-title{
  display: flex;
  align-content: center;
  gap: 10px;
  padding: 10px 0;
}
.skils-progress{
  display: flexbox;
  align-items: flex-start;
  padding: 10px 0;
}
.progress-div{
  border: 1.5px solid var(--Yellow2);
  border-radius: 50px;
  padding: 3px 3px;
}
.progress-bars{
  background-image: linear-gradient(to bottom left, #F2e416, #f2bb16 ) ;
  border-radius: 50px;
}
/* end content */

/* start content 2 */
.generals{
  margin: 20px 20px;
}
/* end content 2 */

/* start content 3 */

/* start content 3 */

/* start footer */
.footer-container{
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.powered{
  font-size: small;
  text-align: center;
}
.footers{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sertifikat{
  margin: 20px 20px;
  padding-bottom: 10px;
}
.sertfikat-google{
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}
.sertfikat-body >a{
  background-image: linear-gradient(to bottom left, #F2e416, #f2bb16 ) ;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  color: var(--Color1);
  font-size: 12pt;
  font-weight: bold;
  border-radius: 5px;
}
/* end footer */

/* responsive */

/* for mobile */
@media screen and (max-width: 481px){
  .grid-containers{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "nav"
                         "aside"
                         "content"
                         "content2"
                         "content3"
                         "main"
                         "footer";
    grid-gap: 5px;
  }
  .achonk{
    width: 100%;
  }
  .content-container{
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
